<% if @reviw.errors.any? %>
  <%= @reviw.errors.count %>件のエラーが発生しました
  <ul>
    <% @reviw.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<table class="table table-striped">
<%= form_with model: @reviw do |f| %>

  <h4>城名</h4>
  <%= f.text_field :castle %>
  
  <h4>店名</h4>
  <%= f.text_field :store %>
  
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>本文</h4>
  <%= f.text_area :introduction %>
  
  <%= f.submit '更新' %>
  <%= link_to "Show", reviw_path(@reviw)  %>
  <%= link_to "Back", reviws_path %>
  
<% end %>
</table>