 <h1>投稿詳細</h1>

  <div class="row">
    <div class="col-md-6 img-hidden">
      <% if @reviw.image.attached? %>
      <%= image_tag(@reviw.image, class: "img-fulied") %>
      <% else %>
      <%= image_tag("no_image.jpg", class: "img-fulied") %>
      <% end %>
    </div>
    <div class="col-md-6">
     <h1><%= @reviw.title %></h1>
      <p class=""><%= @reviw.address %></p>
      <p class=""><%= @reviw.castle %></p>
      <p class=""><%= @reviw.store %></p>
      <p class=""><%= @reviw.introduction %></p>
      <% if @reviw.user == current_user %>
        <p class="">
          <%= link_to "編集", edit_reviw_path(@reviw.id), class: "btn btn-outline-primary" %>
          <%= link_to "削除", reviw_path(@reviw), method: :delete, class: "btn btn-outline-secondary" %>
        </p>
      <% end %>
     <div id="star_<%= @reviw.id %>"></div>
     <script>
        $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#star_<%= @reviw.id %>');

        elem.innerHTML = "";
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: "<%= @reviw.star %>",
          readOnly: true,
        };
        raty(elem, opt);
        });
     </script>
    </div>
</div>
  <div class="d-flex">
    <div class="col-md-6">
      <div data-controller="google-map--show">
          <div data-google-map--show-target="map" data-json="<%= @reviw_json %>" style="height:30vh;max-width:400px;"></div>
      </div>
    </div>
      <div>
      <p>コメント件数：<%= @reviw.reviw_comments.count %></p>
      <% @reviw.reviw_comments.each do |reviw_comment| %>
        <%= reviw_comment.user.name %>
        <%= reviw_comment.created_at.strftime('%Y/%m/%d') %><%= reviw_comment.comment %>
      <% end %>
      </div>
      <div>
      <%= form_with model: [@reviw, @reviw_comment] do |f| %>
        <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>
  </div>

