 <h1>投稿詳細</h1>
 
  <div class="row">
    <div class="col-md-4 img-hidden">
      <% if @reviw.image.attached? %>
      <%= image_tag(@reviw.image, class: "img-fulied") %>
      <% else %>
      <%= image_tag("no_image", class: "img-fulied") %>
      <% end %>
    </div>
    <div class="col-md-8">
     <h1><%= @reviw.title %></h1>
     <p class="row"><%= @reviw.address %></p>
     <p class="row"><%= @reviw.castle %></p>
     <p class="row"><%= @reviw.store %></p>
     <p class="row"><%= @reviw.introduction %></p>
     <p class="row"><%= link_to "編集", edit_reviw_path(@reviw.id) %>, <%= link_to "削除", reviw_path(@reviw), method: :delete %></p>
     <div id="star_<%= @reviw.id %>"></div>
     <script>
        $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#star_<%= @reviw.id %>');
        
        elem.innerHTML = "";
        let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: "<%= @reviw.star %>",
          readOnly: true,
        };
        raty(elem, opt);
        });
     </script>
    </div>

     
      <div >
      <p>コメント件数：<%= @reviw.reviw_comments.count %></p>
      <% @reviw.reviw_comments.each do |reviw_comment| %>
        <%= reviw_comment.user.name %>
        <%= reviw_comment.created_at.strftime('%Y/%m/%d') %><%= reviw_comment.comment %>
      <% end %>
      </div>
      <div>
      <%= form_with model: [@reviw, @reviw_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>
</div>
<%= @reviw.inspect %>
<div id="map"></div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>