<h1>User info</h1>

      <h3>名前</h3>
      <%= @user.name %>
     
      <h3>メールアドレス</h3>
      <%= @user.email %>
     
     <% if @user.email != "guest@example.com" %>
       <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
     <% end %>
     
     <% @reviws.each do |reviw| %>
     
     <table class="table">
      <thead>
        <tr>
          <th scope="col">城名</th>
          <th scope="col">店名</th>
          <th scope="col">タイトル</th>
      <tbody>
         <th scope="row"><%= reviw.castle %></th>
         <th scope="row"><%= reviw.store %></th>
         <th scope="row"><%= reviw.title %></th>
         <th scope="row"><%= link_to "詳細", reviw_path(reviw.id) %></th>
       </tbody>
    </table>

      
      
     <% end %>
   
     <h3>投稿数の前日比・前週比</h3>
  <div class="table_width">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>今日の投稿</th>
        <th>昨日の投稿</th>
        <th>前日比</th>
      </tr>
      </thead>
      <tbody>
        <tr>
	  <td><%= @today_reviw.count %></td>
	  <td><%= @yesterday_reviw.count %></td>
        <% if @yesterday_reviw.count == 0 %>
	  <td>前日の投稿はなし</td>
        <% else %>
	  <td><% @the_day_before =   @today_reviw.count / @yesterday_reviw.count  %>
	  <%= (@the_day_before * 100).round %>%</td>
        <% end %>
        </tr>
      </tbody>
    </table>
      
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>今週の投稿</th>
        <th>先週の投稿</th>
        <th>先週比</th>
      </tr>
      </thead>
      <tbody>
        <tr>
	  <td><%= @this_week_reviw.count %></td>
	  <td><%= @last_week_reviw.count %></td>
        <% if @last_week_reviw.count == 0 %>
	  <td>先週の投稿はなし</td>
        <% else %>
	  <td><% @the_week_before = @this_week_reviw.count / @last_week_reviw.count  %>
	  <%= (@the_week_before * 100).round %>%</td>
        <% end %>
        </tr>
      </tbody>
    </table>